<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              src="{{ product.ImageUrl }}"
              id="main_product_image"
              width="350"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ product.Title }}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>
              {{ product.Description }}
            </p>
          </div>
          <h3>{{ product.Price | currency }}</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span>
              <i class="fa fa-star" aria-hidden="true"></i>
              {{ product.Rating }}</span
            >
          </div>
          <div *ngIf="product.Inventory != 0" class="mt-5">
            <span class="fw-bold"
              >Quantity
              <input
                type="number"
                [(ngModel)]="value"
                value="1"
                min="1"
                [max]="product.Inventory"
                style="width: 60px"
                onkeydown="return false"
            /></span>
          </div>
          <div class="buttons d-flex flex-row mt-5 gap-3">
            <button
              *ngIf="product.Inventory != 0"
              (click)="addToCart(product)"
              class="btn btn-dark"
            >
              Add to Cart
            </button>
            <em class="text-danger" *ngIf="product.Inventory == 0"
              ><strong>Sold Out</strong></em
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
