<div class="album py-5">
  <div class="container w-25">
    <h1 class="text-center mb-5">Register</h1>

    <div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="form-group mb-3">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            formControlName="Email"
            placeholder="Enter email"
          />
          <small
            class="form-text text-danger"
            *ngIf="
            registerForm.controls['Email'].touched &&
            registerForm.controls['Email'].errors?.['required']
            "
          >
            Please enter email address.!
          </small>

          <small
            class="form-text text-danger"
            *ngIf="
            registerForm.controls['Email'].touched &&
            registerForm.controls['Email'].errors?.['email']
            "
          >
            Please enter a valid email address
          </small>
        </div>

        <div class="form-group mb-3">
          <label for="exampleInputEmail1">Full Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="Fullname"
            placeholder="Enter Full Name"
          />
          <small
            class="form-text text-danger"
            *ngIf="
            registerForm.controls['Fullname'].touched &&
            registerForm.controls['Fullname'].errors?.['required']
            "
          >
            Please enter name here
          </small>
        </div>

        <div class="form-group mb-3">
          <label for="exampleInputPassword1">Username</label>
          <input
            type="text"
            class="form-control"
            formControlName="Username"
            placeholder="Enter Username"
          />
          <small
            class="form-text text-danger"
            *ngIf="
          registerForm.controls['Username'].touched &&
          registerForm.controls['Username'].errors?.['required']
          "
          >
            Please enter a username
          </small>
        </div>

        <div class="form-group mb-3">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="Password"
            placeholder="Enter Password"
          />
          <small
            class="form-text text-danger"
            *ngIf="
          registerForm.controls['Password'].touched &&
          registerForm.controls['Password'].errors?.['required']
          "
          >
            Please enter a password
          </small>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Are you a Seller?</label>
          <select class="form-select" formControlName="UserType">
            <option value="buyer">No</option>
            <option value="seller">Yes</option>
          </select>
          <small
            class="form-text text-danger"
            *ngIf="
          registerForm.controls['UserType'].touched &&
          registerForm.controls['UserType'].errors?.['required']
          "
          >
            Please select this option
          </small>
        </div>
        <div class="text-center mb-3">
          <button
            type="submit"
            class="btn btn-primary mt-2"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </form>
      <div class="text-center mt-2">
        <p>Already have an account? <a routerLink="/Account/login">Login</a></p>
      </div>
    </div>
  </div>
</div>
